<!DOCTYPE html>
<html>
  <head>
    <title>formulario</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="contenedor-principal" style="background-color: <%= locals.user.color %>">
      <p><%= locals.user.nombre %>, gracias por visitarnos.</p>
      </form>
    </div>
  </body>
</html>